POSTGRES_USER=postgres
AUTH_DB_PASSWORD=post18lib
USER_DB_PASSWORD=post18lib
SOCIAL_DB_PASSWORD=post18lib
WORKOUT_DB_PASSWORD=post18lib
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_GATEWAY=INFO
LOGGING_LEVEL_GATEWAY_ROUTES=INFO
